/*
.flex-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	text-align: center;
}
*/

.flex-container .photo-container:nth-child(-n+9){
	display: inline-grid;
    color: #fff;
    width: 200;
    height: 200px;
    margin: 5px;
    cursor: pointer;
}
.photo-container{
	flex: 33%;
	padding: 0 0px;
}

.photo{
	margin-top: 8px;
	vertical-align: middle;
	position: relative;
}

.nav{
	text-align: center;
}

.video-container{
	display: flex;
	justify-content:center;
	align-items: center;
}

.rsvf{
	display: flex;
	justify-content:center;
	align-items: center;
}
/* 
.photo:hover .enlarge_prompt{
	opacity: 1;
}

.enlarge_prompt{
	position:absolute;
	opacity: 0;
	top: -35%;
	left: 15%;
	transform: translate(-50%,50%);
}
*/
img{
	width:100%;
	max-width:600px;
}

p{
	color:white;
}

h1{
	color:white;
	text-align: center;
}
h2{
	color:white;
}
h3{
	color:purple;
}

body{
	background-color: black;
}

article{
	text-align: center;
}

details{
	color: white;
}

ul{
	display: table;
	margin: 0 auto;
	list-style-type: none;
}

em{
	position: relative;
	left: 47%;
}